# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
# Package Files #
*.jar
*.war
*.ear

# Cache of project
.gradletasknamecache
.classpath
.project
*.iml
*.class

# Cache dir of project
.gradle
.settings/
bin/
logs/
build/
gradle/
./idea*
out/
.idea/
target/
/.DS_Store
